body {
  background-color: rgb(28, 28, 30);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  align-content: center;
}